@media(max-width:1380px) {
    .characters {
        grid-template-columns: repeat(2, minmax(0, 475px));
    }
}

@media(max-width: 930px) {
    .characters {
        grid-template-columns: repeat(1, minmax(0, 395px));
    }

    .ram__header__t {
        font-size: var(--font48px);
    }

    .ram__header__p {
        max-width: 272px;
    }

    .div__character {
        height: 150px;
    }
    
    .div__character__img {
        width: 100px;
        height: 150px;
    }
    .div__character__infos {
        height: 150px;
    }

    .character__name {
        font-size: var(--font16px);
    }
    

    .character__location,
    .character__origin {
        font-size: var(--font14px);
    }
}

@media(max-width: 395px) {
    .div__character {
        align-items: start;
        flex-direction: column;
        height: unset;
        gap: .5em;
    }

    .div__character__img {
        width: 100%;
        height: 250px;
        object-position: center;
    }

    .ram__header__t {
        font-size: var(--font40px);
    }

}

@media(max-width: 305px) {
    .ram__header__t {
        font-size: var(--font32px);
    }
}